---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";
import { fetchAPI } from "../../lib/api";

---

<MainLayout title="My Gallery">
  <section class="post">
    <h1 class="page-title">Comics</h1>
    <div class="page-container">
      <p>This is where my comics will go!</p>
    </div>
  </section>
  <section class="post">
    <h1 class="page-title">Designs</h1>
    <div class="page-container">
      <p>This is where my designs will go!</p>
    </div>
  </section>
  <section class="post">
    <h1 class="page-title">Illustrations</h1>
    <div class="page-container">
      <p>This is where my illustrations will go!</p>
    </div>
  </section>
  <section class="post">
    <h1 class="page-title">Misc</h1>
    <div class="page-container">
      <p>This is where my creations of various mediums will go!</p>
    </div>
  </section>
</MainLayout>
<style>
  .page-title {
    text-align: center;
  }
  li {
    list-style-type: none;
  }
  .page-container {
    display: flex;
    grid-gap: 1rem;
    justify-content: center;
    padding-bottom: 2rem;
  }
  @media screen and (max-width: 640px) {
    .page-container {
      flex-wrap: wrap;
    }
  }
</style>