---
import MainLayout from "../../layouts/MainLayout.astro";
import { getPosts, stylePosts } from "../../lib/api";
import { formatDate } from "../../js/utils";

export async function getStaticPaths() {
  const data = await getPosts();
  return data.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}
const { post } = Astro.props;
---

<MainLayout>
  <article class="post">
    <h1 set:html={post.title.rendered} />
    <p>Published {formatDate(post.date)}</p>
    <Fragment set:html={post.content.rendered} />
    <!-- <Fragment set:html={stylePosts(post.content.rendered)} /> -->
  </article>
</MainLayout>
<!-- <script define:vars={{ post }}>
  console.log(typeof post.content.rendered);
</script> -->