---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";
import PreviewPost from "../../layouts/PreviewPost.astro";
import { fetchAPI } from "../../lib/api";

const data = await fetchAPI("posts?_embed");
---

<MainLayout title="Blog">
  <article class="container">
    <h1>BLOG</h1>
    <div>
      <ul>
        {
          data.map((post: any) => {
            return (
              <li id="post">
                <PreviewPost post={post} />
              </li>
            );
          })
        }
      </ul>
    </div>
  </article>
</MainLayout>
<!-- <script define:vars={{ data }}>
  console.log(data);
</script> -->
<style>
  h1 {
    text-align: center;
  }
  li {
    list-style-type: none;
    padding-bottom: 1rem;
  }
  @media screen and (max-width: 640px) {
    li {
      padding-bottom: 2rem;
    }
  }
  ul {
    padding-left: 0 !important;
  }
  /* #post {
    visibility: hidden;
  } */
</style>
<!-- <script>
   import { gsap } from "gsap";
    var t1 = gsap.timeline();
    t1.from("#post", {opacity: 0, autoAlpha: 0})
</script> -->
