---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";
import PreviewPost from "../../layouts/PreviewPost.astro";
import { wpquery } from "../../data/wordpress";

const query = `{
      posts {
        nodes {
          title
          date
          slug
          excerpt
          featuredImage {
            node {
              altText
              mediaItemUrl
              sizes
            }
          }
        }
      }
    }
  `;
const data = await wpquery(query);
---

<MainLayout title="My Blog">
  <article class="post">
    <h1>My Blog</h1>
    <div>
      <ul>
        {
          data.posts.nodes.map((post: any) => {
            return (
              <li>
                <PreviewPost post={post} />
              </li>
            );
          })
        }
      </ul>
    </div>
  </article>
</MainLayout>
<script define:vars={{ data }}>
  console.log(data);
</script>
<style>
  li {
    list-style-type: none;
  }
</style>
