---
export const prerender = true;
import MainLayout from "../layouts/MainLayout.astro";
const links = {
    github: "https://github.com/julzhou6",
    linkedin: "https://linkedin.com/in/julielinzhou",
    codepen: "https://codepen.io/julzhou6",
};
---

<MainLayout title="Page Not Found">
    <p>Oops! Couldn't find that page.</p>
</MainLayout>
