---
import MainLayout from "../layouts/MainLayout.astro";
const links = {
	github: "https://github.com/julzhou6",
	linkedin: "https://linkedin.com/in/julielinzhou",
	codepen: "https://codepen.io/julzhou6",
};
---

<MainLayout title="About">
	<section class="container post" aria-label="About this Blog">
		<!-- <img src="" alt="" width="" height=""> -->
		<div class="about-desc">
			<h1>About Me</h1>
			<p>
				Hi I'm Julie! Currently, my main interests lie in the
				intersection between art and technology. Storytelling is also a
				big passion of mine, which is why I love making comics/zines and
				consuming/talking about media that tell stories really well!
			</p>
			<p>
				<b
					>I am open to new front-end/web development-related
					opportunities!</b
				> I graduated from the University of Virginia in '21 majoring in
				Computer Science and Media Studies and since then, have had a few
				opportunities to work in web development. My latest experience comes
				from working on the front-end of a content-management system.
			</p>
			<p>Some places you'll find me at:</p>
			<div>
				<ul>
					<li><a href="mailto:julielinzhou@gmail.com">Email</a></li>
					<li>
						<a href="https://linkedin.com/in/julielinzhou"
							>LinkedIn</a
						>
					</li>
					<li><a href="https://github.io/julzhou6">Github</a></li>
					<li><a href="https://codepen.io/julzhou6">Codepen</a></li>
					<li>
						<a href="https://instagram.com/julieqiuli">Instagram</a>
					</li>
				</ul>
			</div>
			<h1>About this Blog</h1>
			<p>
				Topics that I write about will really vary! For sure, can expect
				personal pieces, coding projects, anime/manga reviews, etc. This
				site is still quite in its rough stages but I plan to introduce
				more features like category/tagging/comments plus other fun
				things.
			</p>
			<p>
				P.S. Interested in how this site was built? It was built in
				Astro + headless Wordpress! A project page coming on that soon.
			</p>
		</div>
	</section>
</MainLayout>
