---
import MainLayout from "../layouts/MainLayout.astro";
const links = {
	github: "https://github.com/julzhou6",
	linkedin: "https://linkedin.com/in/julielinzhou",
	codepen: "https://codepen.io/julzhou6",
};
---

<MainLayout title="About">
	<section class="container about" aria-label="About this Blog">
		<!-- <img src="" alt="" width="" height=""> -->
		<div class="about-desc">
			<h1>Welcome!</h1>
			<p>This is my site where I talk about all the things!</p>
		</div>
	</section>
</MainLayout>
