---
import MainLayout from "../layouts/MainLayout.astro";
import { gsap } from "gsap";
---

<MainLayout title="Home | Julie Zhou">
    <section class="container welcome-text">
        <div>
            <h1 class="title">Welcome!</h1>
            <p>I'm Julie and this is my personal blog site!</p>
            <p>This page is still under construction :( But enjoy these cats and other pages on the site in the meantime.</p>
            <div class="cat-box"> 
                <img class="cat-mascot" src="/images/catmascot.png" width="300"/>
                <img class="artist-cat" src="/images/artistcat.png" width="350"/>
                <img class="tennis-cat" src="images/tenniscat.png" width="300"/>
                <img class="glasses-cat" src="/images/glassescat.png" width="300"/>
                <img class="panda-cat" src="/images/pandacat.png" width="300"/>
                <img class="sailormoon-cat" src="/images/sailormooncat.png" width="400"/>
            </div>
        </div>
    </section>
    <!-- <section class="container about-site">
        <p>Hi, I'm Julie!</p>
    </section>
    <section class="container latest">
        <p>Check out my latest projects and posts!</p>
    </section> -->
</MainLayout>
<style>
    .title {
        width: 100%;
    }
    .welcome-text {
        display: flex;
        justify-content: center;
        padding: 2rem;
    }
    /* section {
        min-height: 100vw;
    } */
    img {
        aspect-ratio: auto;
    }
    .cat-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
</style>
<script>
var tl = gsap.timeline();

</script>
