---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
    <h1>Welcome to my blog site!</h1>
    <section class="post">
        <p>
            I'm Julie and I run <i>A Soft Medley</i> -- a blog detailing really everything
            -- hence why the name is a soft "medley": from coding projects to my
            favorite manga, I'll be writing about all the things that interest me!
        </p>
    </section>
</MainLayout>
