---
---

<footer>
    <p id="footer">
        Made with ♥ by Julie Zhou <span id="footer-date"></span>
    </p>
</footer>
<script>
    document.querySelector("#footer-date").textContent = new Date()
        .getFullYear()
        .toString();
</script>
<style>
    #footer {
        font-size: 14px;
    }
</style>
