---
interface Props {
    text: string;
    href: string;
    classes?: string;
}
const { text, href, classes, ...rest } = Astro.props as Props;
---

<a href={href} class:list={["link", classes]} {...rest}>
    <span class:list={classes}>{text}</span>
</a>

<style>
    .link {
        margin-right: 1rem;

        &[aria-current="page"] {
            font-style: oblique;
            color: var(--nav-light) !important;
        }
    }

    .nav-link {
        font-family: "Roboto Mono", monospace !important;
    }
</style>
