---
import Link from "./Link.astro";
import Icon from "astro-icon";

const navData = [
    {
        name: "ABOUT",
        path: "/about",
    },
    {
        name: "BLOG",
        path: "/blog",
    },
    {
        name: "PROJECTS",
        path: "/projects",
    },
];
---

<nav aria-label="primary">
    <div class="nav-bar">
        <a id="home-link" href="/" aria-label="Go home">
            <Icon class="logo" name="logo" width="60" />
            <span class="title"><h1>A Soft Medley</h1></span>
        </a>

        <ul class="nav-list">
            {
                navData.map((item) => (
                    <Link
                        text={item.name}
                        href={item.path}
                        classes="nav-link"
                        data-navLink
                    />
                ))
            }
        </ul>
    </div>
</nav>

<style>
    a {
        text-decoration: none;
        color: black !important;
    }

    a:hover {
        color: var(--nav-light) !important;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
        padding: 0.6rem 0;
        border-bottom: solid;
        border-bottom-width: 0.1rem;
    }

    [aria-label="primary"] {
        width: 100%;
    }

    .logo {
        padding-right: 5px;
    }

    .title {
        color: var(--nav-light);
        /* disappear on mobile screens */
    }

    #home-link {
        display: inline-flex;
    }
</style>

<script>
    const navLinks = document.querySelectorAll("[data-navLink]");
    navLinks.forEach((link) => {
        if (window.location.pathname.includes(link.getAttribute("href"))) {
            link.setAttribute("aria-current", "page");
        }
    });
</script>
