---
import MainLayout from "../../layouts/MainLayout.astro";
import { getAllPages } from "../../data/wordpress";

export async function getStaticPaths() {
  const data = await getAllPages();
  return data.pages.nodes.map((page) => {
    return {
      params: { slug: page.slug },
      props: { page },
    };
  });
}
const { page } = Astro.props;
---

<MainLayout>
  <div class="post">
    <h1 set:html={page.title} />
    <Fragment set:html={page.content} />
  </div>
</MainLayout>
<script define:vars={{ page }}>
  console.log(page);
</script>
