---
import MainLayout from "../../layouts/MainLayout.astro";
// import { getAllPages } from "../../data/wordpress";
import { getPages } from "../../lib/api";

export async function getStaticPaths() {
  const data = await getPages();
  return data.map((page) => {
    return {
      params: { slug: page.slug },
      props: { page },
    };
  });
}
const { page } = Astro.props;
---

<MainLayout>
  <div class="post">
    <h1 set:html={page.title.rendered} />
    <Fragment set:html={page.content.rendered} />
  </div>
</MainLayout>
<!-- <script define:vars={{ page }}>
  console.log(page);
</script> -->
<script>
  const alignEl = document.querySelectorAll<HTMLElement>(".aligncenter");
  alignEl.forEach((el) => {
    el.style.textAlign = "center";
  })
  const embed = document.querySelectorAll<HTMLElement>(".embed-instagram");
    embed.forEach((el) => {
      console.log(el);
      el.style.display = "inline-flex";
    })
</script>