---
import MainLayout from "../../layouts/MainLayout.astro";

const res = await fetch("https://public-api.wordpress.com/wp/v2/sites/asoftmedley.wordpress.com/pages/282")
const page = await res.json()
---
<MainLayout title="AAPRIDE Design Campaign">
    <h1>AAPRIDE Design Campaign</h1>
    <h2 set:html={page.title.rendered} />
    <p set:html={page.content.rendered} />
</MainLayout>