---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";
import { fetchAPI } from "../../lib/api";
import PreviewPage from "../../layouts/PreviewPage.astro";

const data = await fetchAPI("pages?_embed");
---

<MainLayout title="My Projects">
  <section class="post">
    <h1 class="page-title">My Projects</h1>
    <div class="page-container">
      {
        data.map((page) => (
          <div class="page-grid">
            <PreviewPage page={page} />
          </div>
        ))
      }
    </div>
  </section>
</MainLayout>
<!-- <script define:vars={{ data }}>
  console.log(data);
</script> -->
<style>
  .page-title {
    text-align: center;
  }
  li {
    list-style-type: none;
  }
  .page-container {
    display: flex;
    grid-gap: 1rem;
    justify-content: center;
  }
  .page-grid {
    visibility: hidden;
  }
  @media screen and (max-width: 640px) {
    .page-container {
      flex-wrap: wrap;
    }
    .page-grid {
      padding-bottom: 2rem;
    }
  }
</style>
<script>
  import { gsap } from "gsap";
  var t1 = gsap.timeline();
  t1.from(".page-grid", {opacity: 0, duration: 1, autoAlpha: 0})
</script>