---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="My Projects">
    <p>These are some projects I've worked on/am working on</p>
    <ul>
        <li>
            <a href="./projects/aapride">AAPRIDE Design Campaign</a>
        </li>
    </ul>
</MainLayout>