---
import MainHead from "./MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
    <MainHead title={title} />
    <body>
        <Nav />
        <slot />
        <Footer />
    </body>
</html>

<script>
import { registerCoreBlocks } from '@wordpress/block-library';
registerCoreBlocks();

</script>
