---
import { formatDate } from "../js/utils";
const { post } = Astro.props;
---

<div class="preview-container">
  <a class="read-btn" href={"/blog/" + `${post.slug}`}>
    <div class="preview-content">
      <h2 class="preview-title" set:html={post.title.rendered} />
      <p class="publish-date" set:html={formatDate(post.date)} />
      <Fragment set:html={post.excerpt.rendered} />
    </div>
  </a>
</div>

<style>
  .preview-container {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: var(--nav-light);
    padding: 1rem;
    border-radius: 5px;
    text-align: left;
  }
  img {
    /* margin: auto;
    width: auto; */
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .preview-image {
    border-radius: 5px;
    object-fit: cover;
  }
  .read-btn {
    text-decoration: none;
    display: inline-flex;
    flex-wrap: wrap;
    color: black;
    justify-content: center;
  }
  .preview-container:hover {
    background-color: var(--nav-light);
    transition: 300ms;
  }
  .preview-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .publish-date {
    margin-top: 0;
    margin-left: 0;
  }

  @media screen and (min-width: 640px) {
    .preview-title {
      margin-top: 0;
    }
    .preview-container {
      flex-wrap: nowrap;
      border-style: none;
    }
    .publish-date {
      margin-left: 1rem;
    }
    .preview-content {
      padding-left: 1rem;
    }
    .read-btn {
      flex-wrap: nowrap;
    }
    img {
      margin: inherit;
      height: auto;
      width: 100px;
      visibility: visible;
    }
  }
</style>
